#menu
{
	margin: 0 auto;
	width: 50%;
	padding-bottom: 3em;
	background: transparent;

	.ui-widget-content
	{
		color: $main-colour;
	}

	.ui-tabs-nav
	{
		position: fixed;
		left: 0em;
		right: 0em;
		bottom: 0.5em;
		text-align: center;

		li
		{
			display: inline-block;
			float: none;
		}

		$border: 1px solid;
		$transition: all 0.5s ease;
		.ui-state-default
		{
			background: transparent;
			border-top: $border black;
			a
			{
				color: $main-colour;
				transition: $transition;
			}
			transition: $transition;
		}
		.ui-state-active
		{
			background: transparent;
			border-top: $border $compliment-colour-dark;
			a
			{
				color: $compliment-colour;
				transition: $transition;
			}
			transition: $transition;
		}
	}
}

#pet-actions
{
	td
	{
		text-align: center;
		padding-bottom: 0.5em;
	}

	button
	{
		width: 60%;
	}
}

#pet-search-dialog-item
{
	table
	{
		text-align: center;
		float: right;
		width: 60%;
	}
}
