*:focus
{
	outline: none;
}

.fa
{
	margin-right: 0.5em;
}

.ui-button-text
{
	font-family: $main-font;
}

.ui-dialog .ui-dialog-title
{
	white-space: normal;
	text-align: right;
}

.no-close .ui-dialog-titlebar-close
{
  display: none;
}
