.rightText
{
	text-align: right;
}

.centerText
{
	text-align: center;
}

.hide
{
	display: none;
}

.outlineText
{
	text-shadow:	-1px -1px 0 black,
					1px -1px 0 black,
					-1px 1px 0 black,
					1px 1px 0 black;
}
