@import url("//fonts.googleapis.com/css?family=Ubuntu+Mono:700,700italic");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

$main-font: "Ubuntu Mono";
$main-font-size: 21px;

$background-colour: black;
$main-colour: white;
// this is changed in the JS to be the pet's element colour (defined below)
$compliment-colour: lime;
$compliment-colour-dark: blue;
$compliment-colour-light: red;

$ui-main-colour: black;
$ui-background-colour: white;

$air:		#C8C0E0;
$earth:		#B6D16E;
$fire:		#EF7D4E;
$spirit:	#EC6A94;
$water:		#82C9C5;

$air-darker: darken($air, 10%);
$earth-darker: darken($earth, 10%);
$fire-darker: darken($fire, 10%);
$spirit-darker: darken($spirit, 10%);
$water-darker: darken($water, 10%);

$elements:
	"air"		$air,
	"earth" 	$earth,
	"fire"		$fire,
	"spirit" 	$spirit,
	"water" 	$water;
