$main-font: "Ubuntu Mono";
$background-colour: black;
$main-colour: white;
$compliment-colour: green;

$ui-main-colour: black;
$ui-compliment-colour: $compliment-colour;
$ui-background-colour: white;
$ui-background-compliment-colour: $ui-compliment-colour;
