@import "util";
@import "variables";
@import "jquery/jquery-ui.structure", "jquery/jquery-ui.theme";
@import "browser-positions", "ui-overrides", "progress-bars", "menu";

body
{
	font-family: $main-font;
	color: $main-colour;
	background-color: $background-colour;
}

#daybutton
{
	margin: 0 auto;
	font-size: 3ex;
}

#petcanvas
{
	z-index: -10;
}

[data-setvariable]
{
	color: $compliment-colour-dark;
}

[data-contenteditable]
{
	color: $compliment-colour-dark;
}

.cycling-link
{
	color: $compliment-colour-dark;
}

.cycleLinkIcon
{
	color: $compliment-colour-light;
	margin-right: 0.2em;
	font-size: 0.6em;
	vertical-align: middle;
}

.contentEditableIcon
{
	font-size: 14px;
	color: $compliment-colour-light;
}

table
{
	width: 100%;

	.shrink
	{
		width: 1px;
		padding-right: 5%;
		padding-left: 5%;
		&:first-child
		{
			padding-left: 0;
		}
		&:last-child
		{
			padding-right: 0;
		}
	}
}
