@import "jquery-ui.structure", "jquery-ui.theme";

@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:700,700italic);

$main-font: "Ubuntu Mono";

body
{
	font-family: $main-font;
}

.ui-button-text
{
	font-family: $main-font;
}

.no-close .ui-dialog-titlebar-close
{
  display: none;
}

[data-setvariable]
{
	color: red;
}

.fired
{
	color: green;
}

[contenteditable="true"]
{
	color: blue;
}

.hide
{
	display: none;
}

.hideOpacity
{
	opacity: 0;
}

$browsercorner-position: fixed;
$browsercorner-padding: 10px;
.topleft { position: $browsercorner-position; top: $browsercorner-padding; left:  $browsercorner-padding; }

.bottomleft { position: $browsercorner-position; bottom: $browsercorner-padding; left:  $browsercorner-padding; }

.topright { position: $browsercorner-position; top: $browsercorner-padding; right:  $browsercorner-padding; }

.bottomright { position: $browsercorner-position; bottom: $browsercorner-padding; right:  $browsercorner-padding; }
