@import "maths";
@import "util";
@import "variables";
@import "jquery/jquery-ui.structure", "jquery/jquery-ui.theme";
@import "browser-positions", "ui-overrides", "progress-bars", "menu", "icons";

body
{
	font-family: $main-font;
	font-size: $main-font-size;
	color: $main-colour;
	background-color: $background-colour;
}

#daybutton
{
	margin: 0 auto;
	font-size: 35px;
}

#petcanvas
{
	z-index: -10;
}

[data-setvariable]
{
	color: $compliment-colour-dark;
}

[data-contenteditable]
{
	color: $compliment-colour-dark;
}

.cycling-link
{
	color: $compliment-colour-dark;
}

.cycleLinkIcon
{
	margin-right: 2px;
	margin-bottom: 4px;
	font-size: 10px;
	width: 10px;
	height: 10px;
	transform-origin: 53% 75%;
	vertical-align: middle;
}

.contentEditableIcon
{
	margin-right: 0em;
	color: $compliment-colour-light;
	vertical-align: middle;
	margin-bottom: 3px;
}

table
{
	width: 100%;

	.shrink
	{
		width: 1px;
		padding-right: 5%;
		padding-left: 5%;
		&:first-child
		{
			padding-left: 0;
		}
		&:last-child
		{
			padding-right: 0;
		}
	}
}
